body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
    margin: 0;
}

header {
    padding: 50px;
    background: #222;
}

h1 {
    font-size: 60px;
}

section {
    padding: 30px;
}

ul {
    list-style-position: inside;
}

footer {
    padding: 20px;
    background: #222;
}
