body {
    font-family: Arial, sans-serif;
    background: #101010;
    color: white;
    margin: 0;
    text-align: center;
}

header {
    background: #222;
    padding: 60px;
}

h1 {
    font-size: 60px;
    margin: 0;
}

section {
    padding: 40px;
}

button {
    background: #00aaff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #0088cc;
}

ul {
    list-style-position: inside;
    font-size: 18px;
}

footer {
    background: #222;
    padding: 20px;
}
